* {
    font-family: 'Times New Roman', Times, serif;
} 

body header {
    background-color: rgb(71, 70, 69);
    text-align: center;
    border-bottom:0.15rem solid rgb(0, 0, 0);
    grid-column: 1 / -1;
    position: relative;
}
body header h1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: white;
}
body header nav{
    padding: 8px;
}

nav a{
    color: rgb(12, 12, 12);
    margin-right: 20px;
    text-decoration: none;
    background-color: rgb(60, 204, 180);
    padding: 0.8rem;
    display: inline-block;
    border: 1.8px solid black;
    border-radius: 20px;
}

header nav a[aria-current="page"]{
    background-color: rgb(199, 178, 152);
}

header p{
    color: white;
    font-size: 1.2rem;
}